.nav {
  background-color: #b1afaf;
  grid-area: n;
  padding: 20px;
  height: 100%;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.active {
  color: black;
}
.sideBar a {
  color:white;
  text-decoration: none;
}
.sideBar a.active {
  color: gold;
}